# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
.env/
venv/

# Poetry
poetry.lock

# IDEs
.vscode/
.idea/

# Data / logs
*.csv
*.parquet
*.log

# Models (too large for GitHub)
*.pth
*.pt
*.ckpt

# Configuration
.config/
config/.yaml